# PostgreSQL
POSTGRES_USER=erp_user
POSTGRES_PASSWORD=erp_pass
POSTGRES_DB=erp_case

# Airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://erp_user:erp_pass@postgres:5432/erp_case
AIRFLOW__CORE__FERNET_KEY=your-fernet-key-here
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__WEBSERVER__EXPOSE_CONFIG=True

# Pentaho
PDI_HOME=/opt/pentaho/data-integration
