# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/
*.egg

# Airflow
logs/
airflow.db
airflow-webserver.pid
airflow.cfg

# Docker
docker-compose.override.yml

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Pentaho
pentaho/data-integration/
*.log

# DuckDB
data/*.duckdb
data/*.duckdb.wal
*.duckdb

# dbt
dbt_selic/target/
dbt_selic/logs/
dbt_selic/dbt_packages/
dbt_selic/.user.yml
